@model RinconLetras.Models.Cliente

@{
    ViewBag.Title = "RegistrarseCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Mensaje != null)
{
    <div class="alert alert-primary text-center">
        @ViewBag.Mensaje
    </div>
}

@using (Html.BeginForm("RegistrarseCliente", "CLientes", FormMethod.Post, new { @id = "FormRegistrarseCliente" }))
{
    <div class="card shadow p-4" style="max-width: 600px; margin: 0 auto;">
        <h4 class="mb-4 text-center">Registrarse</h4>

        <div class="mb-3">
            <label for="NombreCliente" class="form-label">Nombre completo</label>
            @Html.TextBoxFor(m => m.NombreCliente, new { @class = "form-control", @placeholder = "Ej: Alex Cesar" })
        </div>

        <div class="mb-3">
            <label for="Identificacion" class="form-label">Numero de identificacion</label>
            @Html.TextBoxFor(m => m.Identificacion, new { @class = "form-control", @type = "number", @placeholder = "Ej: 155834823618" })
        </div>

        <div class="mb-3">
            <label for="FechaNacimiento" class="form-label">Fecha de nacimiento</label>
            @Html.TextBoxFor(m => m.FechaNacimiento, new { @class = "form-control", @type = "Date", @placeholder = "Ej: YYYY/MM/DD" })
        </div>

        <div class="mb-3">
            <label for="Correo" class="form-label">Correo Electrónico</label>
            @Html.TextBoxFor(m => m.CorreoElectronico, new { @class = "form-control", @type = "email", @placeholder = "correo@ejemplo.com" })
        </div>

        <div class="mb-3">
            <label for="Correo" class="form-label">Contrasena</label>
            @Html.TextBoxFor(m => m.Contrasenna, new { @class = "form-control", @type = "password" })
        </div>


        <div class="mb-3">
            <button type="submit" class="btn btn-primary d-grid w-100">Proceder</button>
        </div>
        <a href="@Url.Action("Index", "Home")" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Regresar
        </a>
    </div>
}

