@{
    var nombre = (Session["Nombre"] == null ? "Invitado" : Session["Nombre"].ToString());
    var IdRol = (Session["IdRol"] == null ? "Pendiente" : Session["IdRol"].ToString());
    var NombreRol = (Session["NombreRol"] == null ? "Pendiente" : Session["NombreRol"].ToString());
    var rol = Session["IdRol"] != null ? Convert.ToInt32(Session["IdRol"]) : 0;
}

<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <title>Rincón de las Letras</title>

    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="~/StaticFiles/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

    <style>
       
        .navbar-dark.bg-dark,
        .sb-sidenav-dark {
            background-color: #1E3A8A !important; 
        }

            .sb-sidenav-dark .nav-link,
            .navbar-brand,
            .sb-sidenav-menu-heading {
                color: #f8f9fa !important; 
            }

                .sb-sidenav-dark .nav-link:hover {
                    background-color: #3B82F6 !important; 
                    color: #fff !important;
                }
    </style>

</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand ps-3" href="@Url.Action("Principal","Home")">Rincón de las Letras</a>

        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle">
            <i class="fas fa-bars"></i>
        </button>

        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user fa-fw"></i> @nombre (@NombreRol)
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Configuración</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="@Url.Action("CerrarSesion","Home")">Cerrar sesión</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Opciones</div>

                        <a class="nav-link" href="@Url.Action("Principal","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Principal
                        </a>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseEmpleados">
                            <div class="sb-nav-link-icon"><i class="fas fa-user-tie"></i></div>
                            Empleados
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>

                        <div class="collapse" id="collapseEmpleados" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("VerEmpleados", "Empleados")">Ver Empleados</a>
                                <a class="nav-link" href="@Url.Action("RegistrarEmpleado", "Empleados")">Registrar Empleado</a>
                            </nav>
                        </div>



                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseClientes">
                            <div class="sb-nav-link-icon"><i class="fas fa-user-friends"></i></div>
                            Clientes
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseClientes" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("RegistrarCliente", "Clientes")">Registrar cliente</a>
                                <a class="nav-link" href="@Url.Action("VerClientes", "Clientes")">Ver clientes</a>
                            </nav>
                        </div>


                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCatalogo">
                            <div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>
                            Catalogo
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseCatalogo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("VerCatalogo", "Catalogo")">Ver Catálogo</a>
                                <a class="nav-link" href="@Url.Action("RegistrarLibro", "Catalogo")">Registrar Libro</a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseEditoriales">
                            <div class="sb-nav-link-icon"><i class="fas fa-compass fa-1x"></i></div>
                            Editoriales
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseEditoriales" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("VerEditoriales", "Editoriales")">Ver Editoriales</a>
                                <a class="nav-link" href="@Url.Action("RegistrarEditorial", "Editoriales")">Registrar Editorial</a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseGeneros">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open fa-1x"></i></div>
                            Generos
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseEditoriales" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("VerGeneros", "Generos")">Ver Generos</a>
                                <a class="nav-link" href="@Url.Action("RegistrarGenero", "Generos")">Registrar Editorial</a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseAutores">
                            <div class="sb-nav-link-icon"><i class="fas fa-pen-nib fa-1x"></i></div>
                            Autores
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseAutores" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("VerAutores", "Autores")">Ver Autores</a>
                                <a class="nav-link" href="@Url.Action("RegistrarAutor", "Autores")">Registrar Autor</a>
                            </nav>
                        </div>


                    </div>
                    </div>
            </nav>
        </div>

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">

                    @RenderBody()

                </div>
            </main>

            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Derechos reservados Rincón de las letras</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="~/StaticFiles/js/scripts.js"></script>
    <script src="~/StaticFiles/js/datatables-simple-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"></script>

    <script>
        window.addEventListener("pageshow", function (event) {
            if (event.persisted || performance.getEntriesByType("navigation")[0].type === "back_forward") {
                window.location.reload(true);
            }
        });
    </script>
</body>
</html>

